@font-face {
    font-family: "acumin-pro-condensed";
    src: url(https://use.typekit.net/af/4b28f4/00000000000000003b9acb08/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2") , url(https://use.typekit.net/af/4b28f4/00000000000000003b9acb08/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff") , url(https://use.typekit.net/af/4b28f4/00000000000000003b9acb08/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
    font-style: normal;
    font-weight: 400
}
@media screen and (min-width: 48em) {
    .content-main.is--fullscreen .listing--wrapper {
        padding:20px 30px 20px 30px;
        padding: 1.25rem 1.875rem 1.25rem 1.875rem
    }
}
@media screen and (min-width: 78.75em) {
    .content-main.is--fullscreen .listing--wrapper {
        padding:20px 0 20px 0;
        padding: 1.25rem 0 1.25rem 0
    }
}

.emotion--wrapper {
    display: block;
    margin: 0 auto;
    max-width: 1160px;
    overflow: hidden
}

.emotion--container.emotion--mode-rows .emotion--sizer,.emotion--container.emotion--mode-rows .emotion--sizer-xs,.emotion--container.emotion--mode-rows .emotion--sizer-s,.emotion--container.emotion--mode-rows .emotion--sizer-m,.emotion--container.emotion--mode-rows .emotion--sizer-l,.emotion--container.emotion--mode-rows .emotion--sizer-xl {
    display: none
}


.emotion--container.emotion--column-12 .col-xs-12 {
    width: 100%
}
@media screen and (min-width: 48em) {
    .emotion--container.emotion--column-12 .col-m-4 {
        width: 33.33333333%
    }

}

@media screen and (min-width: 64em) {
    .emotion--container.emotion--column-12 .col-l-5 {
        width: 41.66666667%
    }

}

.emotion--container.emotion--mode-rows .emotion--element {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    vertical-align: top
}

.emotion--mode-rows .emotion--banner .banner--image-src {
    max-height: none;
    width: 100%
}
* {
    box-sizing: border-box;
}
.emotion--html {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto
}

table {
    border-collapse: separate;
    border-spacing: 1px
}

table th,table thead td {
    background: #fff;
    color: #000;
    font-weight: 700;
    text-align: center
}

table td {
    padding: 5px 10px 5px 10px;
    padding: .3125rem .625rem .3125rem .625rem;
    background: #fff;
    color: #000;
    border: 1px solid #fff
}

body {
    font-size: 14px;
    font-size: .875rem;
    font-family: 'acumin-pro-condensed','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
    font-weight: 400;
    color: #000;
    background: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

h1,h2,h3,h4,h5,h6 {
    line-height: 26px;
    line-height: 1.625rem;
    margin: 28px 0 10px 0;
    margin: 1.75rem 0 .625rem 0;
    font-family: 'nimbus-sans','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
    font-weight: 700;
    color: #000;
}

h1 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 28px;
    line-height: 1.75rem;
    margin: 34px 0 20px 0;
    margin: 2.125rem 0 1.25rem 0;
    color: #000;
}

p {
    font-size: 14px;
    font-size: .875rem;
    line-height: 24px;
    line-height: 1.5rem;
    margin: 0 0 20px 0;
    margin: 0 0 1.25rem 0
}
@media screen and (min-width: 78.75em) {
    img.emotion--intedia-homepage-selection--hover-image {
        opacity:.01
    }
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase
}

div.listing--sidebar div.sidebar-filter div.action--filter-options {
    border: none;
    border-radius: 0;
    background-clip: padding-box
}

div.listing--sidebar div.sidebar-filter div.action--filter-options div.filter--container {
    padding: 0
}

div.listing--sidebar div.sidebar-filter div.filter--active-container {
    padding-right: 10px;
    padding-right: .625rem;
    padding-left: 10px;
    padding-left: .625rem
}

div.listing--sidebar div.sidebar-filter span.filter--active {
    border-color: #f0f0f0;
    color: #292929;
    background: #f0f0f0
}

div.listing--sidebar div.sidebar-filter span.filter--active:hover {
    border-color: #e8e8e8;
    color: #000;
    background: #e8e8e8
}
@media screen and (min-width: 48em) {
    div.account--dropdown-navigation div.account--menu {
        border:none;
        background: #000;
        border-radius: 6px;
        background-clip: padding-box
    }
    div.account--dropdown-navigation div.account--menu::after {
        border: none;
        background: #000
    }
    div.account--dropdown-navigation div.account--menu span.navigation--headline {
        border-bottom: 1px dashed #292929;
        border-bottom: .0625rem dashed #292929;
        padding-right: 20px;
        padding-right: 1.25rem;
        padding-left: 20px;
        padding-left: 1.25rem;
        text-transform: uppercase;
        color: #fff
    }
}
@media (max-width:1200px){
    .margin-leftCla,.row--1 .emotion--element{
        max-width: -webkit-fill-available;

    }
}